<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    

    <div class="resume"
        style="width: 100%; display: flex; align-items: center; justify-content: center;  flex-direction: column; padding: 2%;">

        <div class="" style="border: 1px solid black; width: 80%; background-color: rgba(128, 128, 128, 0.647); padding: 4%; display: flex;">

            <div style=" width: 70%; display: flex; align-items: center;">
              
                <h1 style="font-size: 43px; font-weight: 600; font-family: Montserrat; margin-left: 3%; text-transform: uppercase;">
                    <%= user.name %>
                </h1>
                
            </div>

            <div style="text-align: right; margin-top: 2%; color: black; margin-left: 2%;">
                <p style="font-family: Montserrat; margin-top: 2px;">
                    <i class="ri-home-4-line" style="font-size: 18px; float: left;"></i>
                    <%= user.address %>
                </p>
                <p style="font-family: Montserrat; margin-top: 2px;">
                    <i class="ri-mail-line" style="font-size: 17px; float: left;"></i>
                    <%= user.email %>
                </p>
                <p style="font-family: Montserrat; margin-top: 2px;">
                    <i class="ri-phone-line" style="font-size: 18px; float: left;"></i>
                    <%= user.mobile %>
                </p>
            </div>

        </div>

        <div style="width: 80%; padding-top: 3%; border: 1px solid black; background-color: gray;">
            <p style="padding: 3%; font-family: Montserrat;"><%= user.objective %></p>

            
            <h1 style="font-family: Montserrat; font-weight: 500; font-size: 25px; padding-top: 1%; padding-bottom: 1%; background-color: rgb(204, 204, 204); padding-left: 4%; text-transform: uppercase;">Personal Details :</h1>
            <p class="" style="padding-left: 7%; padding-top: 1.5%; padding-bottom: 1%; font-family: Montserrat; font-weight: 500;"> DOB - <%= user.DOB %></p>
            <h1 style="font-family: Montserrat; font-weight: 500; font-size: 25px; padding-top: 1%; padding-bottom: 1%; background-color: rgb(204, 204, 204); padding-left: 4%; text-transform: uppercase;">Skills :</h1>

            <p class="" style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;">- <%= user.skill %></p>


            <h1 style="font-family: Montserrat; font-weight: 500; font-size: 25px; padding-top: 1%; padding-bottom: 1%; margin-top: 2%; background-color: rgb(204, 204, 204); padding-left: 4%; text-transform: uppercase;">Education :</h1>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 700;">-<%= user.degree %></p>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 600;"><%= user.college %></p>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><%= user.year %></p>
            
            
            <h1 style="font-family: Montserrat; font-weight: 500; font-size: 25px; padding-top: 1%; padding-bottom: 1%; margin-top: 2%; background-color: rgb(204, 204, 204); padding-left: 4%; text-transform: uppercase;">Experience :</h1>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><%= user.position %></p>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><%= user.desciption %></p>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><%= user.duration %></p>
            
            
            <h1 style="font-family: Montserrat; font-weight: 500; font-size: 25px; padding-top: 1%; padding-bottom: 1%; margin-top: 2%; padding-left: 4%; background-color: rgb(204, 204, 204); text-transform: uppercase;">Links :</h1>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><i class="ri-linkedin-box-fill" style="font-size: 18px;"></i> -&nbsp;&nbsp;<%= user.Linkdin %></p>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><i class="ri-github-fill" style="font-size: 18px;"></i> -&nbsp;&nbsp;<%= user.Github %></p>


            <h1 style="font-family: Montserrat; font-weight: 500; font-size: 25px; padding-top: 1%; padding-bottom: 1%; margin-top: 2%; padding-left: 4%; background-color: rgb(204, 204, 204); text-transform: uppercase;">Projects :</h1>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><%= user.title %></p>
            <p style="padding-left: 7%; padding-top: 1.5%; font-family: Montserrat; font-weight: 500;"><%= user.tecnology %></p>
            <p style="padding-left: 7%; padding-top: 1.5%; padding-bottom: 1.5%; font-family: Montserrat; font-weight: 500;"><%= user.projectDesc %></p>


        </div>
    </div>

    <a href="./resume.pdf" className="btn btn-outline" download>Download Resume
    </a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>
